<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content={{ or .Params.description .Site.Params.description }}>
        <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/styles.css">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ .Site.BaseURL }}/images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ .Site.BaseURL }}/images/favicon-16x16.png">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ .Site.BaseURL }}/images/apple-touch-icon.png">
        <title>{{ .Title }}</title>
    </head>
    <body>
        <div class="container">
            {{ partial "navbar" . }}
            {{ block "main" . }} {{ end }}
            {{ partial "footer" . }}
        </div>
        <script src="{{ .Site.BaseURL }}/js/app.js"></script>
    </body>
</html>